openapi: 3.2.0
info:
  title: Sendoso Core Teams API
  version: '3'
  summary: Automate physical gift, direct mail and eGift sending, and read campaigns, users and teams.
  description: 'The Sendoso Core API (v3) lets you programmatically trigger sends, embed sending into your own forms, and read the campaigns ("touches"), users and team groups behind them. Sendoso describes the API as "organized around REST principles ... predictable, resource-oriented URLs ... HTTP response codes to indicate API errors", supporting GET and POST with JSON request and response bodies.


    Sendoso does not publish an OpenAPI document. This description was generated by API Evangelist from Sendoso''s own published reference pages at https://developer.sendoso.com — every path, method, parameter and response field below is traceable to the page named in that operation''s `externalDocs`.'
  contact:
    name: Sendoso Developer Support
    email: developers@sendoso.com
    url: https://developer.sendoso.com/
  x-generated-from: documentation
  x-generated-by: API Evangelist enrichment pipeline (local-v1)
  x-generated-on: '2026-08-13'
  x-source-docs: https://developer.sendoso.com/llms.txt
servers:
- url: https://app.sendoso.com
  description: Production
- url: https://app.staging.sendo.so
  description: Sandbox / staging (declared in Sendoso's own reference-page code samples)
security:
- OAuth2: []
tags:
- name: Teams
  description: Team groups and their members.
paths:
  /api/v3/groups:
    get:
      operationId: getTeamGroups
      summary: Get All Team Groups
      description: Retrieve information of all the organization's active team groups.
      tags:
      - Teams
      externalDocs:
        url: https://developer.sendoso.com/rest-api/reference/teams/get-teams
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: A page of team groups.
          content:
            application/json:
              schema:
                type: object
                required:
                - current_page
                - per_page
                - total_groups
                - groups
                properties:
                  current_page:
                    type: integer
                  per_page:
                    type: integer
                  total_groups:
                    type: integer
                  groups:
                    type: array
                    items:
                      $ref: '#/components/schemas/TeamGroup'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /api/v3/groups/{team_group_id}/members:
    get:
      operationId: getTeamGroupUsers
      summary: Get All Team Group Users
      description: Get the list of users for the specific team.
      tags:
      - Teams
      externalDocs:
        url: https://developer.sendoso.com/rest-api/reference/teams/get-team-users
      parameters:
      - name: team_group_id
        in: path
        required: true
        description: The team group id to get the users from.
        schema:
          type: integer
      responses:
        '200':
          description: Array of user objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamGroupMember'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: 'Group not found. Documented body: {"message": "Group not found!"}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  responses:
    Unauthorized:
      description: 'Unauthorized. Documented message: "The access token is invalid".'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Too Many Requests. Sendoso throttles application clients sending more than 10 requests/second; the client is temporarily blocked from making further requests.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      description: Sendoso's error envelope. Not RFC 9457 problem+json — errors are returned as `application/json` with a `success` flag and a human-readable `message`. Some documented 401 bodies use `description` and `expired` instead of `message`.
      properties:
        success:
          type: boolean
        message:
          type: string
        description:
          type: string
        expired:
          type: boolean
    TeamGroupMember:
      type: object
      required:
      - id
      - first_name
      - last_name
      - email
      - balance
      - sandbox
      - team_group_id
      - team_id
      - key
      properties:
        id:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
        balance:
          type: string
        sandbox:
          type: boolean
          description: Whether this user is a sandbox user.
        team_group_id:
          type: integer
        team_id:
          type: integer
          description: The team's organization id.
        key:
          type: string
          description: The user's invitation key.
    TeamGroup:
      type: object
      required:
      - id
      - budget
      - created_at
      - monthly_budget
      - name
      - one_time_budget
      - rollover
      - team_id
      - updated_at
      properties:
        id:
          type: string
        budget:
          type: integer
        created_at:
          type: string
          description: ISO 8601.
        monthly_budget:
          type: string
        name:
          type: string
        one_time_budget:
          type: integer
        rollover:
          type: boolean
          description: Whether the monthly budget rolls over to the next month.
        team_id:
          type: integer
          description: The team group's organization id.
        updated_at:
          type: string
          description: ISO 8601.
  parameters:
    PerPage:
      name: per_page
      in: query
      required: false
      description: The number of results to be returned per page. Max is 100.
      schema:
        type: integer
        maximum: 100
    Page:
      name: page
      in: query
      required: false
      description: The page number of the results you want to retrieve. The first page is 1.
      schema:
        type: integer
        minimum: 1
  securitySchemes:
    OAuth2:
      type: oauth2
      description: 'OAuth 2.0 Authorization Code grant. Register your application by contacting developers@sendoso.com to receive a client ID and client secret. Access tokens live 7200 seconds (2 hours) and are refreshed at the same token endpoint. Tokens are sent as `Authorization: Bearer <token>`.'
      flows:
        authorizationCode:
          authorizationUrl: https://app.sendoso.com/oauth/authorize
          tokenUrl: https://app.sendoso.com/oauth/token
          refreshUrl: https://app.sendoso.com/oauth/token
          scopes:
            public: Access the user's basic information.
            write: Send gifts on the user's behalf.
            update: Update the user's account details.
            marketplace: Access the marketplace API.
            smartsend: Access the smartsend API.
externalDocs:
  description: Sendoso REST API documentation
  url: https://developer.sendoso.com/rest-api/overview/introduction
